@{
    ViewData["Title"] = "Página Inicial";
}

@* <div class="text-center">
    <h1 class="display-4">Estudos API</h1>
</div> *@

<main class="homepage d-flex align-items-center">
    <div class="homepage-text">
        <h1 class="display-3">Organize seus estudos.</h1>
        <h3>
            Facilitando o caminho para o conhecimento.
        </h3>
        <br><br><br><br>
        <a class="btn btn-primary btn-home" asp-area="" asp-controller="Usuarios" asp-action="Index">Começar</a>
    </div>
    <img class="studyImg" src="@Url.Content("~/images/study.png")">
</main>