html {
  font-size: 14px;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.headerImg{
  width: 50px;
  margin-right: 5px;
}
.logo-nome{
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  color: #207fe6 !important;
}
.homepage{
  justify-content: space-between;
  min-height: 83dvh;
  align-content: center;
}
.homepage-text h1{
  font-weight: 600;
  animation: entry 2s ease;
}
@keyframes entry {
  0%{opacity: 0; transform: translateX(-50px);}
  100%{opacity: 1; transform: translateX(0);}
}
.homepage-text h3{
  color: rgb(22, 23, 26);
  font-weight: 400;
  animation: entry 3s ease;
}
.btn-home{
  animation: entry 4s ease;
}
.userImg{
  width: 100%;
  max-width: 256px;
}
.studyImg {
  max-width: 450px;
  width: 100%;
}
.bar{
  display: block;
  width: 0;
  height: 2px;
  opacity: 0;
  background: rgb(0, 68, 255);
  transition: width 250ms ease, opacity 250ms ease;
}
.nav-link{
  font-size: large;
  transform: translateY(2px);
}
.nav-link:hover {
  color: rgb(0, 68, 255) !important;
}
.nav-link:hover .bar {
  width: 100%; 
  opacity: 1; 
}

@media (max-width: 768px ) {
  .studyImg {
    max-width: 300px;
  }
}
@media (max-width: 570px ) {
  .homepage{
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .userImg{
    max-width: 128px;
  }
  .formPrincipal{
    flex-direction: column-reverse;
  }
}